body {  /* referenced code from: How to Create Striped Backgrounds with CSS  by Shounak Das */ 
    height: 100vh;
    background: repeating-linear-gradient(to right, #FF3131 0px, #FF3131 500px, #FAA0A0 500px, #FAA0A0 1000px); /*neon red and pastel red */
  }

h1,h2{
    color: navy;
    letter-spacing: 10px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color:navy;   
    letter-spacing: 3px;
    padding-left: 10%;
    background: rgb(194, 54, 54);

}

a{
    color:navy;
    text-decoration: none;
    padding: 1em 0;
    display: block;
}